* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}


#main {
    display: block;
    text-align: center;
}

#main > .dataset {
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
    max-width: calc(100% - 20px);
    width: 500px;
    margin: 10px;
}

#main > .dataset > .name {
    font-weight: bold;
}

#main > .dataset > .buttons {
    margin: 10px 0;
}

/* #main > .dataset > .buttons > .name {
    
} */

a,
a:visited {
    padding: 5px;
    margin: 5px;
    border: none;
    background-color: #ddd;
    color: black;
    display: inline-block;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: #cacaca;
}

#main > .dataset > .buttons > a:last-child {
    padding: 5px 20px;
}
