* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

#main > #card {
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
    max-width: calc(100% - 20px);
    width: 500px;
    margin: 10px;
    text-align: center;
}

#main > #card > .all-eng {

}
#main > #card > .all-slav {
    margin-top: 10px;
}

#main > #card .english {
    font-size: 18pt;
    font-weight: bold;
}

#settings {
    padding: 20px;
}
#settings > label {
    display: block;
    cursor: pointer;
}

#btn-next {
    margin: 20px;
    padding: 20px;
    color: black;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}
#btn-next:hover,
#btn-next:active {
    background-color: #cacaca;
}

#dataset-name {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    padding: 20px;
}

#card > div {
    cursor: pointer;
}

#card > div.hidden {
    /* background-color: #eeeeee; */
    filter: blur(8px);
}

#card > div:hover {
    background-color: #ddd;
}

input {
    outline: none !important;
}

